# Xcode's user settings
xcuserdata/
tart.xcodeproj/

# SwiftPM
.swiftpm/

# AppCode
.idea/

# Swift
.build/

# GoReleaser
dist/

# mkdocs
.cache

# mkdocs-material
site
CFW/.DS_Store
CFW/custom_26.1/AppleParavirtGPUMetalIOGPUFamily.tar
CFW/libAppleParavirtCompilerPluginIOGPUFamily/main.m
CFW/libAppleParavirtCompilerPluginIOGPUFamily/.DS_Store
.DS_Store
