<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>d47ap</string>
			<key>CPID</key>
			<integer>33088</integer>
			<key>Platform</key>
			<string>t8140</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>145</integer>
			<key>BoardConfig</key>
			<string>vphone600ap</string>
			<key>CPID</key>
			<integer>65025</integer>
			<key>Platform</key>
			<string>vresearch1</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>144</integer>
			<key>BoardConfig</key>
			<string>vresearch101ap</string>
			<key>CPID</key>
			<integer>65025</integer>
			<key>Platform</key>
			<string>vresearch1</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>23B85</string>
	<key>ProductVersion</key>
	<string>26.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>134250816</integer>
			<integer>100687906</integer>
			<integer>167796770</integer>
			<integer>2415984129</integer>
			<integer>2432761345</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>134250816</integer>
			<integer>100687906</integer>
			<integer>167796770</integer>
			<integer>2415984129</integer>
			<integer>2432761345</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone17,3</string>
		<string>ComputeModule14,1</string>
		<string>ComputeModule14,2</string>
		<string>Mac14,14</string>
		<string>iPhone99,11</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict>
		<key>043-53377-129.dmg.aea</key>
		<string>APFS</string>
		<key>043-53486-120.dmg.aea</key>
		<string>APFS</string>
	</dict>
</dict>
</plist>
